<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {#Test Div Card#}
    <div class="container">
        <div class="card-body row m-5 shadow rounded">

            <div class="col my-md-4 col-md-4 col-12 p-0">
                <img class="rounded img-fluid" src="img/test.jpg" class="card-img-top" alt="...">
            </div>

            <div class="col">
                <div class="row">
                    <div class="col align-self-center mx-md-0">
                        <h3 class="card-title">name</h3>
                    </div>

                    <div class="col align-self-start text-end">
                        <h5>date</h5>
                        <h6>time</h6>
                        <a href="${eventTicket}" class="btn btn-outline-primary"><i class="bi bi-ticket-detailed"></i> Find Tickets</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12 align-self-end">
                        <h3>location</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>